* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: black;
}
img {
    border: 0;
}
ol, ul, li {
    list-style: none;
}

#top {
    height: 182px;
    width: 100%;
    min-width: 1000px;
    background-image: url(../images/index_03.gif);
}
.top-cen {
    width: 1000px;
    height: 182px;
    margin: 0 auto;
    background-image: url(../images/index365_02.png);
}
.top-ul {
    margin-left: 45px;
    overflow: hidden;
    width: auto;
    height: auto;
}
.top-ul li {
    float: left;
    font-size: 14px;
    font-family: 黑体;
    margin-top: 10px;
    margin-left: 48px;
}
.top-ul li p {
    text-align: right;
    font-size: 10px;
    color: #B3B3B3;
}
.top-ul li:hover a {
    color: red;
}
.top-ul li:hover p {
    color: #000;
}
.ce {
    height: 525px;
    width: 100%;
    margin: 0 auto;
    min-width: 1000px;
    margin-right: 50px;
    background-image: url(../images/index.png);
    background-position: center;
    position: relative;
}
.an {
    width: 1000px;
    height: 34px;
    position: absolute;
    bottom: 0px;
    left: 50%;
    margin-left: -499px;

}
.an li {
     float: left;
    width: 201px;
    height: 34px;
    margin-left:5px;
    line-height: 34px;
    background: black;
    margin-left:5px;
    color:#fff;
    padding-left: 11px;
}
.an li:hover{
    background: red;
}

.an li a{
    color:white;
    background-color: black;
}
#leif {
    width: 47px;
    height: 34px;
    background: url(../image/arr.png);
    background-repeat: no-repeat;
    margin-left:0;

}
#right {
    width: 47px;
    height: 34px;
    background: url(../image/arr.png);
    background-repeat: no-repeat;
    background-position: -58px 0;
}
#leif:hover{
    background-position: 0 -34px;
}
#right:hover{
    background-position: -58px -34px;
}
#leif>a {
    display: block;
    width: 100%;
    height: 100%;
}
.cd{
    width: 1000px;
    height: 98px;
    margin:0 auto;
}
.cf {
    width:258px;
    height:98px;
    background: url(../images/A.png) no-repeat;
     float:left;
}
.cg {
 width:189px;
    height:98px;
    background: url(../images/B.png)  no-repeat;
     float:left;
}
.ch {
 width:185px;
    height:98px;

    background: url(../images/product_show.png)  no-repeat;
     float:left;
     position: relative;

}
.ch>div>a{
      display: block;
      width:40px;
      height:40px;
}
.ch-1{
    width:46px;
    height:47px;
     border-radius:100px;
    background: black;
    position: absolute;
   top: 42px;
left: 29px;
    background: url(../images/e.png);
     }
 .ch-2{
    width:59px;
    height:67px;
 border-radius:100px;
    position: absolute;
top: 36px;
left: 65px;
    background: url(../images/f.png);
     }
.ch-3{
    width:51px;
    height:72px;
    background: black;
    border-radius:100px;
    position: absolute;
    top: 31px;
left: 107px;
    background: url(../images/g.png);

     }
.ch-1:hover{
    -webkit-transform: scale(1.3,1.3);
       -moz-transform: scale(1.3,1.3);
        -ms-transform: scale(1.3,1.3);
         -o-transform: scale(1.3,1.3);
            transform: scale(1.3,1.3);

}
.ch-2:hover{
       -webkit-transform: scale(1.3,1.3);
       -moz-transform: scale(1.3,1.3);
        -ms-transform: scale(1.3,1.3);
         -o-transform: scale(1.3,1.3);
            transform: scale(1.3,1.3);
}
.ch-3:hover{
      -webkit-transform: scale(1.3,1.3);
       -moz-transform: scale(1.3,1.3);
        -ms-transform: scale(1.3,1.3);
         -o-transform: scale(1.3,1.3);
            transform: scale(1.3,1.3);
}
.cj{
    width:355px;
    height:98px;
    background: url(../images/index_05.png) ; no-repeat;
     float:left;
     margin-left:1px;
}
.center{
    width: 1000px;
    height:1200px;
    margin:0 auto;
}
.center-a{
width: 300px;
height:1200px;
float:left;
}
.center-1 p{
     font-weight:800;

}
.center-1 span{
     font-weight:500;
     font-size:14px;
}
.center-2{
    width:291px;
    height:63px;
    background:url(../imas/t12.gif) no-repeat;
    margin-top:10px;
}
.center-3{
    width:300px;
    height:33px;
    background:url(../img/product_03.png) no-repeat;
        margin-top:5px;
}
.center-a ul{
    width: 270px;
    height:180px;
    margin:0 auto;
     margin-top:30px;
}
.center-a ul li{
    width: 270px;
    height:20px;
    margin-left:30px;
    margin-top:10px;
}
.center-a ul li:hover a{
    color:red;
}
.tu1{
   width:300px;
    height:33px;
    background:url(../image/product_07.png)no-repeat ;
    margin-top:5px;
}
.tu2{
   width:300px;
    height:33px;
    background:url(../image/product_10.png)no-repeat ;
     margin-top:10px;
}
.tu3{
   width:300px;
    height:33px;
    background:url(../image/product_13.png)no-repeat ;
     margin-top:10px;
}
.tu4{
   width:300px;
    height:33px;
    background:url(../image/product_16.png)no-repeat ;
     margin-top:10px;
}
.tu5{
    width: 290px;
    height:40px;
    background:url(../image/product_19.png) no-repeat;
    margin-top:20px;
}
.zi1{
    width: 295px;
    height：40px;
     border-bottom:1px dashed ;
     margin-top:10px;
}
.zi1 p{
   padding-top:5px;
   padding-bottom: 10px;
   font-size:14px;
}
.zi1:hover p{
    color:red;
}
.tu6{
    width: 290px;
    height:40px;
    background:url(../image/purdoct.02_21.png) no-repeat;
    margin-top:20px;
}
.center-4{
     width: 300px;
    height:71px;
     margin-top:15px;
}
.zi2{
    width: 136px;
    height:71px;
 float:left;
 font-size:12px;
}
.tu8{
    width: 12px;
    height:24px;
    margin:0 auto;

    float:left;
     background:url(../image/libg8.gif) no-repeat;
     margin-top:21px;
}
.tu7{
    width: 141px;
    height:71px;
    background:url(../image/libg14.gif) no-repeat;
      float:left;
    font-size:12px;
    background-position: -0  -71px;
     padding-left:5px;

}
.tu7 p{
    font-size:25px;
    font-weight:900;
    color:gray;
    padding-left:5px;


}
.center-4:hover .zi2{
  color:red;


}
.center-4:hover .tu7{
    background-position: -0  -0px;
    color:white;
}
.center-4:hover .tu7 p{
    color:white;
}
.center-4:hover  .tu8{
     background-position: -0  -24px;

}
.center-b{
    width: 690px;
    height:1200px;

    float:left;
}
.tu9{
    width: 700px;
    height:73px;
    background:url(../images/product11_03.png) no-repeat;
    margin-top:25px;
}
.center-b-1{
  width: 700px;
  height:130px;
  margin-top:20px;
}
.crnter-b-1 ul{
  width: 700px;
  height;130px;
}
.center-b-1 ul li{
  float:left;
  margin-left:15px;
}

.tu10{
    width: 320px;
    height:240px;
    background: url(../images/product5525_22.png) no-repeat;
 }

.tu11{
    width:320px;
    height:30px;
    background:gray;
    margin-top:60px;
}
.tu11 p{
padding-left:10px;
}

.center-b-1 p>span{
 padding-left:80px;
}
.tu11 p>span{
    font-size:18px;
    font-weight:900;
    padding-left:130px;

  }
.center-b-1 ul li:hover .tu11{
  background:yellow;
}
.center-b-1 ul li:hover .tull{
  color:red;
}
.center-b-1 ul li:hover p{
  color:red;
}




.bottom{
  width:100%;
   margin:0px auto;
  height:240px;
   background:#2e2e2e;
   min-width: 1000px;
}

.bot-1{
  width:1000px;

  height:240px;
  margin:0 auto;
}
.bot-1-a{
  width:300px;
  height:240px;
  background:url(../img/di_07.png) no-repeat;
  position:relative;
  float:left;
}
.bot-1-a p{
  position:absolute;
top: 134px;
left: 127px;
  color:#979797;
    font-size:14px;
}
.bot-1-a span{
  position:absolute;
  font-size:14px;
top: 174px;
left: 127px;
  color:#979797;
}
.bot-1-b{
  width:670px;
  height:240px;
  float:left;

  margin-left:15px;
}
.bot-1-c{
  width:130px;
  height:115px;
  float:left;
  margin-left:35px;


}
.bot-1-c p{
  width:120px;
  height:20px;
  background:black;
  color:white;
  line-height:20px;
padding-left:10px;
    font-weight:bold;
}
.bot-1-b ul li a{
    color:#969696;
}
.bot-1-b ul li{
  margin-left:5px;
  list-style-type: disc;
  list-style-position: inside;
  padding-top:7px;
  font-size:12px;
  color:#969696;


}
.bot-1-b ul li:hover{
    background:gray;
}
.bot-1-c:hover p{
  background:gray;
}
.en{
  width:100%;
  height:120px;
  min-width:1000px;
  background-color:#383838;
}
.en-1{
     width:1000px;
     height:120px;
     float: right;
    background:url(../img/zi_07.png) no-repeat;
}
.footer-3{
    width:100%;
    height:90px;
    min-width:1000px;
     background:#1F1F1F;

}
.footer-3 p{
    color:white;
margin:0 auto;
  text-align:center;
}

.footer-4{
     width:100%;
    height:100px;
    min-width:1000px;
    background:#2E2E2E;
}
.footer-4 p{
    color:white;
    padding-left:100px;
    font-size:12px;
    font-weight:900;

}